@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding');

.navbar {
  background-color: black;
  height: 68px;
  padding: 0;
  margin: 0;
  font-family: 'Nanum Gothic Coding', monospace;
  font-weight: bold;
}

.navbarLinks {
  position: relative;
}

.navbarLinks > a {
  margin-right: 15px;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
}
