.slideShowContainer{
  width: 100%;
  height: 136%;
}

.row1Content {
  height: 1269px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
}

.row2 {
  width: 100%;
  display: inline-block;
  position: relative;
  vertical-align: top;
  }

  .row2Content {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 1080px;
    width: 100%;
  }

.row3 {
  width: 100%;
  display: inline-block;
  position: relative;
  vertical-align: top;

  .row3Content {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 1080px;
    width: 100%;
  }
}

.button-container {
  position: absolute;
  top: 160px;
  width: 100%;

  div {
    position: absolute;
    top: 545px;
    font-weight: bold;
    color: white;
    left: 235px;
    font-size: 25px;

    div {
      position: relative;
      top: 10px;
    }
  }

  button {
    position: absolute;
    top: 621px;
    left: 235px;
    font-weight: bold;
    border: none;
  }
}

.tileHeightAdjustment {
  top: -788px;
}

@supports (-webkit-overflow-scrolling: touch) {
  .slideShowContainer{
    width: 100%;
    height: 200px;
  }

  .row1Content {
    width: 100%;
    height: 200px;
  }

  .row2 {
    .row2Content {
      width: 100%;
      height: 300px;
    }
  }

  .row3 {
    .row3Content {
      width: 100%;
      height: 300px;
    }
  }

  .buttonStyle {
    padding: 10px;
  }
}

