<div class="full-page" @fadeIn>
  <div class="sign-up-container">
    <input type="text" class="sign-up">
    <button>Sign Up</button>
  </div>
  <div class="summary-container">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis delectus deserunt dignissimos eligendi eos harum illo, impedit, obcaecati odio perspiciatis quos tempore, vitae. Accusamus aliquam architecto at beatae culpa dolorum eum illum, natus nemo omnis placeat praesentium ratione voluptatem.</p>
  </div>
  <div class="flipBook-container">
    <app-mag-flip-book></app-mag-flip-book>
  </div>
</div>
