<div class="archive-container" @fadeIn>
  <div class="product-image-container">
    <img src="{{product.displayImgs.img5}}" alt="">
  </div>
  <div id="product-description">
    <span>Original Pack - Ballistic<br>
          000<br>
          The original sfr1 pack, developed for use in urban and remote exploration. A daily-
          commuter made from a waterproof balistic shell and ripstop lining; trimmed with
          recycled leather, and metal harware; zipped pockets and magnetic closure.<br>
          <br>
          Made to order and hand numbered.<br>
          <br>
          - 100% Waterproof<br>
          - Magnetic and drawstring closure<br>
          - Padded Base, laptop pocket and straps<br>
          <br>
          Shown:<br>
          Ballistic black / matte back leather / ripstop grey lining / nickel hardware<br>
          <br>
          One Size: 80cm x 45cm x 25cm<br>
          <br>
          <button class="btn">Contact to Order</button>
    </span>
  </div>
  <div class="product-image-container">
    <img src="{{product.displayImgs.img2}}" alt="">
  </div>
  <div class="product-image-container">
    <img src="{{product.displayImgs.img3}}" alt="">
  </div>
  <div class="product-image-container">
    <img src="{{product.displayImgs.img4}}" alt="">
  </div>
  <div id="devin-pack-img" class="product-image-container">
    <img src="{{product.displayImgs.img1}}" alt="">
  </div>
</div>
