.archive-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 195px;
  padding-right: 195px;

  .product-image-container {
    width: 50%;
    height: 100%;
    display: inline-block;
    padding: 10px;
  }

  #product-description {
    width: 50%;
    display: inline-block;
    position: relative;
    left: 30px;
  }
}
